#profile-photo{
    width:40vh;
    height:40vh;
    justify-content: center;
    display:flex;
    border-style:solid;
    display:inline-flex
}
.container{
    background-color: #1cb5a8;
}
.name{
    color:orange;
    justify-content: center;
    display:flex;
}